<html>
<head>
<body>
    <h1>Random passcode (passcode #@ViewBag.RunCount)</h1>
    <textarea> @ViewBag.passcode</textarea>
    <a href=""><button value="generate">Generate</button></a>
</body>
</head>
</html>