@{
    ViewData["Title"] = "Home Page";
}
<h1>
    Quoting Dojo!
</h1>
<form action="/Add" method="post">
    <p>Enter your name: <input type="text" name="name"></p>
    <p>Enter your quote: <input type="text" name="Quotes"></p><br>
    <input type="submit" value="Add quote">
</form>
<form>
    <input type="submit" value="Skip"
</form>
